body {
    font-family: Georgia, serif;
    background: none;
    color: black;
}

.site-container {
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
}

#header, #footer {
    display: none;
}

.entry a:after {
    content: " [" attr(href) "] ";
}